In [16]:
import numpy as np
import pandas as pd

# Create a dtype with the binary data format and the desired column names
dt = np.dtype([('d', 'i4'),('c', 'i4'),('b', 'i4'),('a', 'i4')])
data = np.fromfile(r'C:\Users\geekSA67\code\CS306_Data_Analysis_And_Visualisation\Lab3\airline.bin', dtype=dt)
df = pd.DataFrame(data)

# Or if you want to explicitly set the column names
df = pd.DataFrame(data, columns=data.dtype.names)

In [17]:
df.max()

d    96079
c    96079
b    96079
a    96079
dtype: int32

In [18]:
df

                   d           c           b           a
0               2008        2008        2008        2008
1               2008        2008        2008        2008
2               2008        2008        2008        2008
3               2008        2008        2008        2008
4               2008        2008        2008        2008
...              ...         ...         ...         ...
52572955 -2147483648 -2147483648 -2147483648 -2147483648
52572956 -2147483648 -2147483648 -2147483648 -2147483648
52572957 -2147483648 -2147483648 -2147483648 -2147483648
52572958 -2147483648 -2147483648 -2147483648 -2147483648
52572959 -2147483648 -2147483648 -2147483648 -2147483648

[52572960 rows x 4 columns]